<%= form_with(model: source, local: true, class: "input-box") do |f| %>
  <div class="input-form-innerbox">
    <div class="form-parts">
      <%= f.label 'タイトル' %><br>
      <%= f.text_field :title, placeholder: 'タイトル', class: "input-text" %>
    </div>

    <div class="form-parts">
      <%= f.label 'カテゴリー', class: "label" %><br>
      <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: "---"}, class: "input-select" %>
    </div>

    <div class="form-parts">
      <%= f.label '校種', class: "label" %><br>
      <%= f.collection_select :grade_id, Grade.all, :id, :name, {include_blank: "---"}, class: "input-select" %>
    </div>

    <div class="form-parts">
      <%= f.label '概要', class: "label" %><br>
      <%= f.text_area :content, rows: "20", placeholder: '概要を入力してください', class: "input-text" %>
    </div>

    <div class="source-action">
      <%= f.submit "作成", id: "source-action-btn" %>
    </div>
  </div>

<% end %>