<div class="contents-wrapper">
  <div class="contents">
    <h3>検索ボックスから記事を検索できます</h3>
    <%= search_form_for @p, url: search_sources_path, class: "search-box" do |f| %>
      <div class="search-form-innerbox">
        <%# <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
        <%# <%= form.submit "検索", class: "search-btn" %> 
        <%= f.label :title_cont, 'タイトル', class: "search-label" %><br>
        <%= f.search_field :title_cont, placeholder: 'キーワードを入力してください', class: "search-input" %>
        <br>
        <%= f.label :category_id_eq, 'カテゴリー', class: "search-label" %><br>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: '指定なし', class: "search-slelct" %>
        <br>
        <%= f.label :grade_id_eq, '校種', class: "search-label" %><br>
        <%= f.collection_select :grade_id_eq, Grade.all, :id, :name, include_blank: '指定なし', class: "search-slelct" %>
        <br>
        <%= f.label :content_cont, '概要', class: "search-label" %><br>
        <%= f.search_field :content_cont, placeholder: 'キーワードを入力してください', class: "search-input" %>
        <br>
        <%= f.submit '検索' %>
      </div>
    <% end %>
      <% if admin_signed_in? %>
        <div class="sources">
          <% @sources.each do |source| %>
            <%= render partial: "source", locals: { source: source } %>
          <% end %>
        </div>
      <% elsif user_signed_in? %>
      <% else %>
        上のボタンからログインおよび新規登録してください
      <% end %>
  </div>
</div>