<!DOCTYPE html>
<html>
  <head>
    <title>TokushiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-left">
        <%= link_to 'Tokushi App', root_path %>
      </div>
      <div class="header-right">
        <% if admin_signed_in? %>
          <ul class="header-buttons">
            <li class="new-sources">
              <%= link_to '新規投稿', new_source_path, class: "new-source-button" %>
            </li>
            <li class="admin-session">
              <p id="menu-trigger">管理人</p>
            </li>
          </ul>
          <ul id="admin-menu">
            <li class="menu-list" id="admin-edit">
              <%= link_to '管理者情報編集', edit_admin_registration_path %>
            </li>
            <li class="menu-list">
              <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
            </li>
          </ul>
        <% elsif user_signed_in? %>
          <ul class="header-buttons">
            <li class="new-sources">
              <%= link_to '新規投稿', new_source_path %>
            </li>
            <li class="user-session">
              <p id="menu-trigger"><%= current_user.name %></p>
            </li>
          </ul>
          <ul id="user-menu">
            <li class="menu-list" id="user-edit">
              <%= link_to 'ユーザー情報編集', edit_user_registration_path %>
            </li>
            <li class="menu-list">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            </li>
          </ul>
        <% else %>
          <%= link_to 'ログイン(Admin)', new_admin_session_path %>
          <%= link_to '新規登録(Admin)', new_admin_registration_path %>
          <%= link_to 'ログイン(User)', new_user_session_path %>
          <%= link_to '新規登録(User)', new_user_registration_path %>
        <% end %>
      </div>
    </header>
    <div class="contents-wrapper">
      <div class="contents">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
